html {
  font-family: 'Trebuchet MS', sans-serif;
  max-width: 1400px;
  margin: 0 auto
}

#cart {
  text-align: right;
  margin-right: 100px;
}

main {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

figure {
  width: 200px;
  height: 400px;
  margin-left: auto;
}

figcaption {
  width: 190px;
}

header {
  height: 200px;
  background: url(../images/header.jpg) no-repeat 0 0;
  border-color: black;
  border-width: 4px;
  border-style: solid; 
  margin: 0 auto;
}

header h1 {
  text-align: center;
  font-size: 32px;
  padding-top: 100px;
  color: white;
  font-weight: bold
}

p {
  margin: 3px;
  font-weight: bold;
}

#title {
  color: red;
  font-style: italic;
}

footer {
  background-color: lightskyblue;
  font-weight: bolder;
  text-align: center;
}

.email_input {
  width: 400px;
  height: 25px;
}

.pass_input {
  width: 400px;
  height: 25px;
}

.login_button {
  width: 100px;
  height: 40px;
}

h2 {
  padding-top: 8%;
}

div {
  margin-left: 35%;
  margin-right: 35%;
}

form {
  text-align: center;
}

label {
  margin-left: 25%;
}